*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* navbar  */

.logo{
  vertical-align: middle;
  border-style: none;
}
li:hover{
  color: orangered;
}
.icon:hover{
  color: orangered;
}

/* home  */

.banner{
  background-image: url(../src/Image/Background/slider-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 610px;
  width: 100%;
}
.b-heading{
  color: #f7444e;
  font-size: 65px;
  padding-top: 100px;
}
.b-heading2{
  font-size: 65px;
}
.btn1{
  display: inline-block;
  padding: 12px 45px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
}
.b-content{
  letter-spacing: 0.7px;
}

/* with shop us part  */

.heading{
  font-size: 40px;
}
.icn{
  font-size: 60px;
}
.box{
  background-color: #002c3e;
  padding: 45px 50px;
}

/* our product part */

.product{
  color: #f7444e;
}
.img-box{
  width: 50%;
  height: 170px;
}
.price{
  margin-left: 75px;
}
.price2{
  margin-left: 65px;
}
.box1{
  padding: 40px 50px;
  background-color: rgb(237, 235, 235);
  border: 7px solid rgb(237, 235, 235);
  border-right-color:white;
  border-bottom-color:white;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, .2)
}
.btn2{
  display: inline-block;
  padding: 12px 142px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
}

/* subscribe  */

.e-mail{
  height: 50px;
  width: 465px;
  padding-left: 20px;
  border-radius: 30px;
  border:1px solid lightgrey;
}
.btn3{
  display: inline-block;
  padding: 12px 62px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  border-radius: 30px;
}
.subscribe{
  background-color: #d4ced0;
}

/* footer  */

.logo2{
  height:50px;
  width: 50%;
  display: inline-block;
}
.E-mail{
  border: solid #ccc 1px;
  box-shadow: none;
  width: 65%;
  height: 48px;
  padding-left: 10px;
}
.btn4{
  display: inline-block;
  padding: 12px 18px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
}
.copy{
  background-color: #002c3e;
}

/* about page  */

.about{
  background-color: #f7444e;
}

/* // contact */

.input,.textarea{
  border: solid #ccc 1px;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  text-transform: capitalize
}
.textarea{
  height: 100px;
}